.header{
    text-align: center;
    padding:20rem;
    background-image: url(../../assets/images/Wine.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 220px;
    color:white;
}

.footer{
    padding-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

