.header{
    text-align: center;
    padding:20rem;
    background-image: url(../../assets/images/Wine.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 220px;
    color:white;
}

